html,
body {
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
  width: 100%;
  height: 100%;
}

textarea {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  background: transparent;
  font-family: system-ui;
  resize: none;
  overflow: auto;
  padding: 1rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  white-space: pre-wrap;
  font-size: 1rem;
}